<nav class="navbar navbar-light bg-light  shadow-lg mb-5 justify-content-center bg-dark text-white">
  <span class="mb-1 h1">PROJECT BOARD</span>
</nav>
<div class="container">
  <div class="clearfix">
      <div id="inProgressTask" class="col-6 float-left">
        <h2 class="text-center">Tasks In Progress</h2>
          <ul>
            {{#each tasks}}
              {{#unless completed}}
                {{> tasks/task-block completed=true}}
              {{/unless}}
            {{/each}}
          </ul>
      </div>
    <div id="completedTask" class="col-6 float-right">
      <h2 class="text-center">Tasks Completed</h2>
        <ul>
          {{#each tasks}}
            {{#if completed}}
              {{> tasks/task-block completed=false}}
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="col">
    <div class="addNewTask text-center  mt-5">
      <h3>Add New Task</h3>
        <form class="create-form">
          <div class="form-group">
            {{!-- <label for="ta"></label> --}}
            <input class="" type="text" id="ta" name="name" style="width: 500px; height: 100px">
          </div>
          <div class="form-group">
            {{!-- <label for="completed">Completed?</label><br> --}}
            {{!-- <input type="radio" name="completed" value="1" checked> In Progress<br> --}}
            <input class="hide" type="radio" name="completed" value="0">
          </div>
          <button class="btn-info rounded shadow-md" type="submit">Add Task</button>
        </form>
    </div>
  </div>
</div>


